node_modules/
.env
*.env
backend/aiven.txt
backend/qrs/
backend/crear-base-aiven.mjs
capturas/
render-env.txt
frontend/index.antes-moderno.html
frontend/index.bloque1.html
render-env*.txt
respaldos/
backend/ver-prod.mjs
backend/limpiar-base.mjs
backend/crearUsuariosProd.mjs
backend/cancelar-api.mjs
backend/.env.bak
*.bak
backend/medios.mjs
backend/horas.mjs
backend/crearJuezas.mjs
backend/migrar-disciplina.mjs
docs/
backend/crearMesa.mjs
backend/clavesPuertas.mjs
backend/crearAccesos.mjs
